:root {
  /* Fonts */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* Colors */
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  /* Others*/
  --items: 3;
  --indent: 24px;
  --radius: 4px;
}
/* Base styles */
body {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.link {
  text-decoration: none;
  color: currentColor;
}
.btn {
    border: none;
  cursor: pointer;
}
.container{
  width: 1160px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid red;
  outline-offset: -2px;
}
.list {
  list-style: none;
}
/*Header section */
.header {
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {

}
.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  
 font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.logo-dark {
  color: var(--color-navy-blue);
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-item {
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;

}
.header-link {
  font-weight: 500;
  color: var(--color-navy-blue);
}
.header-link:hover,
.header-link:focus{
    color:var(--color-ocean)
}
.header-adress {
  font-style: normal;
}
.header-adress-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-adress-item {
  display: flex;
align-items: flex-start;
gap: 40px;
}

.header-adress-link {
  color: var(--color-slate);
}
.header-adress-link:hover,
.header-adress-link:focus {
  color: var(--color-iris);
}

/* Hero image section */
.hero-section {
  background: var(--color-grey);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: calc(60 / 56);

  text-align: center;
  color: var(--color-white);
}
.hero-btn {
  background: var(--color-iris);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24/16);
  letter-spacing: 0.04em;
  color: var(--color-white);
}
.hero-btn:hover,
.hero-btn:focus {
  background: var(--color-ocean);
}

/* Sectoin1 */
.benefits {
}
.benefits-list {
}
.benefits-item {
}
.benefits-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: var(--color-navy-blue);
}
.benefits-txt {
  color: var(--color-slate);
}
/* Section2 */
.features {
}
.features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}
.features-list {
}
.features-item {
}
.features-img {
}
/* Section3 */
.team {
  background: var(--color-cloud);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}
.team-list {
}
.team-item {
}
.team-img {
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  color: var(--color-navy-blue);
}
.team-position {
  text-align: center;
  color: var(--color-slate);
}
/* Portfolio section  */
.portfolio {
}
.filters-list {
}
.filters-item {
}
.filters-btn {
  background: var(--color-cloud);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24/16);
  letter-spacing: 0.04em;
  color:var(--color-iris)
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--color-ocean);
  color: var(--color-white);
}
.projects-list {
}
.projects-item {
}
.projects-link{  
}
.projects-img {
}
.projects-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: var(--color-navy-blue);
}
.projects-txt {
  color: var(--color-slate);
}

/* footer section */
.footer {
  background-color: var(--color-navy-blue);
}
.logo-light {
  color: var(--color-cloud);
}
.footer-txt {
  color: var(--color-cornflower);
}
